@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* > * {
  font-family: "Inter";
}
html,
body,
#__next,
.container {
  height: 100vh;
  overflow: hidden;
}

:root {
  --foreground-rgb: white;
  --background-start-rgb: black;
  --background-end-rgb: black;
  --gray: #171d1a;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.wrapper {
  height: calc(100vh - 250px);
}

.img-bkgd {
  left: calc(50% - 64px);
}

@layer base {
  .react-markdown ul,
  ol {
    list-style: revert;
    margin-left: 1em;
    margin-bottom: 1em;
  }
}
